

.container-sub{
  margin: 200px;
    display: flex;
}
.content-sub{
    display: block;
    background-color: orangered;
    
}
.substyle{
    margin: 20px;
}
form{
    margin: 50px;
    background-color: white;
    padding: 10px;
}
form button{
    border: 0;
    background-color: orangered;
    width: 115px;
    height: 30px;
    color: white;
}

.nothank{
    border: 0;
    background-color: white;
    color: orangered;
}