<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Giỏ hàng</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../CSS/cartstyle.css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src='main.js'></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="content_header">
                <div class="logo">
                    <a href="">
                        <img src="../Images/logo.png">
                    </a>
                </div>
                <div class="container">
                    <ul class="menu_header">
                        <li><a href="" class="active">Trang chủ</a></li>
                        <li><a href="">Giới thiệu</a></li>
                        <li><a href="">Sản phẩm</a></li>
                        <li><a href="">Sự kiện</a></li>
                        <li><a href="">Chính sách</a></li>
                        <li><a href="">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="buttom">
                    <a class="btn-header btn-phone" href=""><img src="../Images/dien_thoai.png">hotline: 09230
                        55555</a>
                    <a class="icon_cart" href=""><img src="../Images/gio_hang.png"><span class="quantity">1</span></a>
                </div>
            </div>
        </div>

    </header>
    <main>
        <div class="breadcrumb">
            <ol>
                <li style="margin-right: 10px;"><img src="../Images/nha.png"></li>
                <li><a href="">Trang chủ</a></li>
                <li>Giỏ hàng</li>
            </ol>
        </div>

        <div class="container">
            <div class="main">
                <div class="sub">
                    <div class="content">
                        <div class="name_pro">Sản phẩm</div>
                        <div class="price_pro">Giá</div>
                        <div class="amount_pro">Số lượng</div>
                        <div class="totle_pro">Tạm tính</div>
                    </div>
                    <hr>
                    <div class="content_2">
                        <div><img src="../Images/san_pham_gio_hang.png"></div>
                        <div class="name_pro_detail">Địa lan</div>
                        <div class="price_pro_detail">350.000đ</div>
                        <div class="amount_pro_detail">
                            <form method="GET" action="" id="form-search">
                                <button type="submit" class="btn-search"><i class="fa-solid fa-minus"></i></button>
                            </form>
                            1
                            <form method="GET" action="" id="form-search">
                                <button type="submit" class="btn-search"><i class="fa-thin fa-plus"></i></button>
                            </form>

                        </div>
                        <div class="totle_pro_detail">350.000đ</div>
                    </div>
                    <hr>
                </div>

                <div class="summary">
                    <div style="font-size: 18px; color:#666666 ; font-weight: bold;">Cộng giỏ hàng</div>
                    <hr>
                    <div class="provisional">
                        <div style="margin-right: 180px;">Tạm tính</div>
                        <div style="font-weight: bold;">350.000đ</div>
                    </div>
                    <hr>
                    <div class="provisional">
                        <div style="margin-right: 210px; font-weight: bold;">Tổng</div>
                        <div style="font-weight: bold; color: #cc9933;">350.000đ</div>
                    </div>
                    <form method="GET" action="">
                        <button type="submit" class="btn-submit">Tiến hành thanh toán</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>