<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Chi tiết sản phẩm</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../CSS/detailProduct.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' type='text/css' media='screen' href='../CSS/bootstrap.min.css'>

    <script src='main.js'></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="content_header">
                <div class="logo">
                    <a href="">
                        <img src="../Images/logo.png">
                    </a>
                </div>
                <div class="container">
                    <ul class="menu_header">
                        <li><a href="home.html">Trang chủ</a></li>
                        <li><a href="">Giới thiệu</a></li>
                        <li><a href="product.html" class="active">Sản phẩm</a></li>
                        <li><a href="">Sự kiện</a></li>
                        <li><a href="">Chính sách</a></li>
                        <li><a href="">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="buttom">
                    <a class="icon_cart" href=""><img src="../Images/gio_hang.png"><span class="quantity">1</span></a>
                </div>
            </div>
        </div>

    </header>
    <main>
        <div class="breadcrumb">
            <ol>
                <li style="margin-right: 10px;"><img src="../Images/nha.png"></li>
                <li><a href="product.html">Sản phẩm</a></li>
                <li>Chi tiết sản phẩm</li>
            </ol>
        </div>

        <div class="container detailPro">

            <div class="media">
                <img class="align-self-center mr-5" src="../Images/sp_14.png" alt="Generic placeholder image"
                    width="30%">
                <div class="media-body">
                    <h5 class="mt-2" style="font-weight: bolder;">Hoa cắm để bàn hồng-ly</h5>
                    <p>Một ngày nắng vàng tự tay mình chăm chút cho bình hoa của mình thì còn gì bằng phải không các cô
                        gái thích màu trắng?</p>
                    <p class="mb-2">Thành phần cho 1 bó : 5 ly, 6 hồng, 10 dương xỉ, 5 địa lan</p>
                    <h6 style="font-weight: bold; margin-top: 20px;">Số lượng</h6>
                    <div class="buttons_added">                   
                        <input aria-label="quantity" class="input-qty" max="10" min="1" name="" type="number" value="">
                        <div class="total">100.000 VNĐ</div>
                    </div>
                    <form>
                        <button class="addCart" type="submit" form="nameform" value="Submit">Thêm vào giỏ hàng</button>
                    </form>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <div class="container container_footer">
            <div class="info_company">
                <div class="logo_footer">
                    <img src="../Images/logo_footer.png">
                </div>
                <div class="name">
                    Tiệm hoa tươi Swan Florist
                </div>
                <div class="text">
                    <img src="../Images/vi_tri.png">
                    Số 20 Ngõ 30, Nguyễn Thị Định, Hà Nội
                </div>
                <div class="text">
                    <img src="../Images/dien_thoai_trang.png">
                    Hotline: 09230 55555
                </div>

                <div class="text">
                    <img src="../Images/email.png">
                    Email: swanflorist@gmail.com
                </div>
            </div>

            <div class="content_footer">
                <div class="menu_footer">
                    <div class="title">
                        <div class="tieude">Quy định và bảo mật</div>
                        <hr>
                        <ul class="text">
                            <li><a href="">Chính sách và quy định chung</a></li>
                            <li><a href="">Bảo mật thông tin</a></li>
                            <li><a href="">Tin tức</a></li>
                            <li><a href="">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu_footer">
                    <div class="title">
                        <div class="tieude">Chính sách mua hàng</div>
                        <hr>
                        <ul class="text">
                            <li><a href="">Quy định và hình thức thành toán</a></li>
                            <li><a href="">Vận chuyển / giao nhận</a></li>
                            <li><a href="">Đổi trả hàng và hoàn tiền</a></li>
                            <li><a href="">Sản Phẩm nổi bật 4</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu_footer">
                    <div class="title">
                        <div class="tieude">Mạng xã hội</div>
                        <hr>
                        <ul>
                            <li><a href=""><img src="../Images/mang_xa_hoi.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="copy-right"> © 2022 Bản quyền thuộc về Swan Florist. All Right Reserved.</div>

    <script src="../JS/jQuery v3.6.1.js"></script>
    <script src="../JS/popper.min.js"></script>
    <script src="../JS/bootstrap.min.js"></script>
    <script src="../JS/script.js"></script>
</body>

</html>