<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Trang sản phẩm</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../CSS/productstyle.css'>
    <script src='main.js'></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="content_header">
                <div class="logo">
                    <a href="">
                        <img src="../Images/logo.png">
                    </a>
                </div>
                <div class="container">
                    <ul class="menu_header">
                        <li><a href="home.html" >Trang chủ</a></li>
                        <li><a href="">Giới thiệu</a></li>
                        <li><a href="" class="active">Sản phẩm</a></li>
                        <li><a href="">Sự kiện</a></li>
                        <li><a href="">Chính sách</a></li>
                        <li><a href="">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="buttom">
                    <a class="btn-header btn-phone" href=""><img src="../Images/dien_thoai.png">hotline: 09230
                        55555</a>
                    <a class="icon_cart" href=""><img src="../Images/gio_hang.png"><span class="quantity">1</span></a>
                </div>
            </div>
        </div>

    </header>
    <main>
        <div class="breadcrumb">
            <ol>
                <li style="margin-right: 10px;"><img src="../Images/nha.png"></li>
                <li><a href="home.html">Trang chủ</a></li>
                <li>Sản phẩm</li>
            </ol>
        </div>

        <div class="container">
            <div>
                <ul class="menu">
                    <li><a href="" class="active">Lãng hoa</a></li>
                    <li><a href="">Bó hoa</a></li>
                    <li><a href="">Kệ hoa </a></li>
                    <li><a href="">Lan hồ điệp</a></li>
                </ul>
            </div>

            <div class="row">
                <!-- start -->
                <div class="item">
                    <div class="info">
                        <a href="detailProduct.html">
                            <img src="../Images/sanpham_14.png" width="100%">
                        </a>
                        <div class="desc_product">
                            <h2 class="product_name">
                                <a href="">Hồng-Ly</a>
                            </h2>
                            <div class="price">
                                350.000đ
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->

                <!-- start -->
                <div class="item">
                    <div class="info">
                        <a href="">
                            <img src="../Images/san_pham_2.png" width="100%">
                        </a>
                        <div class="desc_product">
                            <h2 class="product_name">
                                <a href="">Cúc-Ly</a>
                            </h2>
                            <div class="price">
                                300.000đ
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->

                <!-- start -->
                <div class="item">
                    <div class="info">
                        <a href="">
                            <img src="../Images/san_pham_3.png" width="100%">
                        </a>
                        <div class="desc_product">
                            <h2 class="product_name">
                                <a href="">Hướng dương</a>
                            </h2>
                            <div class="price">
                                150.000đ
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->

                <!-- start -->
                <div class="item">
                    <div class="info">
                        <a href="">
                            <img src="../Images/san_pham_4.png" width="100%">
                        </a>
                        <div class="desc_product">
                            <h2 class="product_name">
                                <a href="">Thạch thảo-Ly</a>
                            </h2>
                            <div class="price">
                                200.000đ
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->

                <!-- start -->
                <div class="item">
                    <div class="info">
                        <a href="">
                            <img src="../Images/san_pham_5.png" width="100%">
                        </a>
                        <div class="desc_product">
                            <h2 class="product_name">
                                <a href="">Địa lan</a>
                            </h2>
                            <div class="price">
                                350.000đ
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->

                <!-- start -->
                <div class="item">
                    <div class="info">
                        <a href="">
                            <img src="../Images/san_pham_6.png" width="100%">
                        </a>
                        <div class="desc_product">
                            <h2 class="product_name">
                                <a href="">Cẩm tú cầu-Hồng</a>
                            </h2>
                            <div class="price">
                                400.000đ
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->

                <!-- start -->
                <div class="item">
                    <div class="info">
                        <a href="">
                            <img src="../Images/san_pham_7.png" width="100%">
                        </a>
                        <div class="desc_product">
                            <h2 class="product_name">
                                <a href="">Cúc-Muồng hoàng yến</a>
                            </h2>
                            <div class="price">
                                300.000đ
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->

                <!-- start -->
                <div class="item">
                    <div class="info">
                        <a href="">
                            <img src="../Images/san_pham_8.png" width="100%">
                        </a>
                        <div class="desc_product">
                            <h2 class="product_name">
                                <a href="">Hồng-Ly</a>
                            </h2>
                            <div class="price">
                                250.000đ
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->

                <!-- start -->
                <div class="item">
                    <div class="info">
                        <a href="">
                            <img src="../Images/san_pham_9.png" width="100%">
                        </a>
                        <div class="desc_product">
                            <h2 class="product_name">
                                <a href="">Hồng trắng</a>
                            </h2>
                            <div class="price">
                               250.000đ
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->

                <!-- start -->
                <div class="item">
                    <div class="info">
                        <a href="">
                            <img src="../Images/sanpham_11.png" width="100%">
                        </a>
                        <div class="desc_product">
                            <h2 class="product_name">
                                <a href="">Hướng dương</a>
                            </h2>
                            <div class="price">
                                150.000đ
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->

                <!-- start -->
                <div class="item">
                    <div class="info">
                        <a href="">
                            <img src="../Images/sanpham_12.png" width="100%">
                        </a>
                        <div class="desc_product">
                            <h2 class="product_name">
                                <a href="">Ly</a>
                            </h2>
                            <div class="price">
                                250.000đ
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->

                <!-- start -->
                <div class="item">
                    <div class="info">
                        <a href="">
                            <img src="../Images/sanpham_13.png" width="100%">
                        </a>
                        <div class="desc_product">
                            <h2 class="product_name">
                                <a href="">Dành dành</a>
                            </h2>
                            <div class="price">
                               250.000đ
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->

            </div>

            <div class="pagination">
                <ul>
                    <li>
                        <a href="" class="active">1</a>
                    </li>
                    <li>
                        <a href="">2</a>
                    </li>
                    <li>
                        <a href="">3</a>
                    </li>
                    <li>
                        <a href="">Tiếp</a>
                    </li>
                </ul>

            </div>
        </div>
    </main>
    <footer>
        <div class="container container_footer">
            <div class="info_company">
                <div class="logo_footer">
                    <img src="../Images/logo_footer.png">
                </div>
                <div class="name">
                    Tiệm hoa tươi Swan Florist
                </div>
                <div class="text">
                    <img src="../Images/vi_tri.png">
                    Số 20 Ngõ 30, Nguyễn Thị Định, Hà Nội
                </div>
                <div class="text">
                    <img src="../Images/dien_thoai_trang.png">
                    Hotline: 09230 55555
                </div>

                <div class="text">
                    <img src="../Images/email.png">
                    Email: swanflorist@gmail.com
                </div>
            </div>

            <div class="content_footer">
                <div class="menu_footer">
                    <div class="title">
                        <div class="tieude">Quy định và bảo mật</div>
                        <hr>
                        <ul class="text">
                            <li><a href="">Chính sách và quy định chung</a></li>
                            <li><a href="">Bảo mật thông tin</a></li>
                            <li><a href="">Tin tức</a></li>
                            <li><a href="">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu_footer">
                    <div class="title">
                        <div class="tieude">Chính sách mua hàng</div>
                        <hr>
                        <ul class="text">
                            <li><a href="">Quy định và hình thức thành toán</a></li>
                            <li><a href="">Vận chuyển / giao nhận</a></li>
                            <li><a href="">Đổi trả hàng và hoàn tiền</a></li>
                            <li><a href="">Sản Phẩm nổi bật 4</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu_footer">
                    <div class="title">
                        <div class="tieude">Mạng xã hội</div>
                        <hr>
                        <ul>
                            <li><a href=""><img src="../Images/mang_xa_hoi.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="copy-right"> © 2022 Bản quyền thuộc về Swan Florist. All Right Reserved.</div>

</body>

</html>