<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Đăng ký</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/register.css">
    <script src='main.js'></script>
</head>

<body>
    <div class="wrapper">
        <h2>Đăng ký</h2>
        <h3>Chào mừng bạn đến với Swan Florist!</h3>
        <form id="form_register" method="POST" action="">
            <div class="form-group">
                <label style="width: 30%;">Họ</label>
                <input type="text" name="firstname" id="input_firstname" class="form-control">
            </div>
            <div class="form-group formDiv">
                <label style="width: 30%;">Tên</label>
                <input type="text" name="lastname" id="input_lastname" class="form-control">
            </div>
            <div class="form-group">
                <label>Biệt danh</label>
                <input type="text" name="nickname" id="input_nickname" class="form-control">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" id="input_email" class="form-control">
            </div>
            <div class="form-group">
                <label>Mật khẩu</label>
                <input type="password" name="password" id="input_password" class="form-control">
            </div>
            <div class="form-group">
                <label>Ngày Sinh</label>
                <input type="date" name="date" id="input_date" class="form-control">
            </div>
            <div class="form-group">
                <label>Giới tính</label>
                <div>
                    <input type="radio" name="gender" class="gender" checked>Nam <br>
                    <input type="radio" name="gender" class="gender">Nữ <br>
                    <input type="radio" name="gender" class="gender">Khác <br>
                </div>
            </div>
            <div class="form-group">
                <label>Số điện thoại</label>
                <input type="text" name="phone" id="input_phone" class="form-control">
            </div>
            <div class="form-group">
                <label>Địa chỉ</label>
                <textarea type="" name="address" id="input_address" class="form-control"></textarea>
            </div>
            <div class="button-form">
                <button type="submit" class="btn btn-register">Đăng ký</button>
            </div>
            <div class="button-form">
                <button type="button" class="btn btn-register">reset</button>
            </div>
            <div class="form-group request">Bạn đã có tài khoản <a href="../layouts/login.html">Đăng nhập</a></div>
        
        </form>
    </div>

    <script src="../js/register.js"></script>
</body>

</html>