
@font-face {
    font-family: 'UTMAptima';
    src: url('../Font/UTM\ Aptima.ttf');
}

body {
    margin: 0;
}

header {
    background-color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.content_header {
    display: flex;
    justify-content: space-between;
    width: 1265px;
}

.logo {
    margin-top: 32px;
    margin-bottom: 38px;
    margin-right: 88px;
}

.logo img {
    max-width: 153px;
}

.menu_header {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu_header {
    display: flex;
}

.menu_header>li {
    margin-right: 52px;
}

.menu_header>li>a {
    display: block;
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
    font-family: 'UTMAptima';
    font-size: 14px;
    line-height: 30.84px;
}

.menu_header>li>a.active {
    box-shadow: 0 2px #666666;
}


.btn-header {
    color: #333333;
    text-decoration: none;
    font-family: 'UTMAptima';
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30.84px;
}

.buttom {
    margin-top: 55px;
}

.btn-header img {
    margin-right: 17px;
}

.icon_cart {
    text-decoration: none;
    position: relative;
    margin-left: 20px;
    padding-right: 55px;
}

.icon_cart img {
    vertical-align: middle;
}


.icon_cart .quantity {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #cc9933;
    color: white;
    text-align: center;
    font-family: 'UTMAptima';
    line-height: 16px;
    font-size: 12px;
    top: -10px;
    left: 13px;

}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.breadcrumb {
    padding: 10px 15px;
    font-family: 'UTMAptima';
    color: #a6a6a6;
    font-size: 14px;
    background-color: #f2f2f2;
    padding-top: 31px;
    padding-bottom: 31px;
}

.breadcrumb ol {
    display: flex;
    justify-content: center;
}

.breadcrumb ol li {
    margin-right: 30px;
    position: relative;
}


.breadcrumb ol li:last-child::after {
    content: ">";
    display: block;
    position: absolute;
    right: 69px;
    top: 0;
}

.breadcrumb ol li:last-child::before {
    display: none;
}

.breadcrumb ol li a {
    text-decoration: none;
    color: #666666;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    background-color: #f2f2f2;
    margin-top: 70px;
    justify-content: center;
}


.menu>li {
    box-shadow: 0 1px #666666;
    margin-bottom: 20px;
}

.menu>li>a {
    display: block;
    color: #666666;
    text-decoration: none;
    font-weight: bold;
    font-family: 'UTMAptima';
    font-size: 14px;
    padding: 40px 100px;

}

.menu>li>a.active {
    background-color: #999999;
    color: white;
    padding-top: 7px;
    padding-left: 134px;
    padding-bottom: 30px;
    height: 0;
    margin-top: 32px;
    width: 94px;
    border-radius: 1px;
}

.menu>li>a.hover {
    background-color: #999999;
    color: white;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.row .item {
    width: calc(100%/4);
    box-sizing: border-box;
    padding-right: 20px;
    margin-bottom: 50px;
}

.desc_product {
    text-align: center;
}

.product_name {
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 5px;
}

.product_name a {
    text-decoration: none;
    color: #5a5a5a;
    font-family: 'UTMAptima';
    text-transform: uppercase;
}

.price {
    font-size: 14px;
    line-height: 20px;
    font-family: 'UTMAptima';
    text-align: center;
    color: #b49632;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

.pagination ul {
    display: flex;
    justify-content: center;
}

.pagination ul li {
    position: relative;
}

.pagination ul li:last-child::after {
    content: ">";
    display: block;
    position: absolute;
    right: -1px;
    top: 12px;
    width: 8px;
    height: 8px;
    font-size: 14px;
}

.pagination ul li a {
    display: block;
    width: 28px;
    height: 24px;
    font-size: 14px;
    color: #666666;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-family: 'UTMAptima';
}

.pagination ul li:last-child a {
    width: 45px;
}

.pagination>ul>li>a.active {
    background-color: #999999;
    color: white;
    padding-bottom: 8px;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 1px;
}

footer {
    background-color: #333333;
    font-family: 'UTMAptima';
    font-size: 14px;
    color: #ffffff;
    padding-bottom: 30px;
    margin-top: 80px;
}

.container_footer {
    padding-top: 50px;
    display: flex;
}

.info_company {
    width: 35%;
}

.logo_footer {
    color: white;
}

.name {
    margin-top: 15px;
    font-size: 14.03px;
    line-height: 22px;
    font-weight: bold;
}

.content_footer {
    width: 80%;
    display: flex;
}

.content_footer .menu_footer {
    margin-right: 100px;
}

.menu_footer .title {
    font-size: 14px;
    margin-bottom: 30px;
}

.menu_footer .title .text {
    font-size: 14px;
    margin-bottom: 40px;
}


.menu_footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 14.03px;
    padding: 8px 0;
    display: block;
}

.tieude {
    font-weight: bold;

}

hr {
    background-color: #cc9933;
    color: #cc9933;
    width: 50px;
    height: 2px;
    border-color: #cc9933;
    margin-left: 0px;
}
#copy-right{
    background-color: #141414;
    text-align: center;
    font-size: 14px;
    font-family: 'UTMAptima';
    color: #4d4d4d;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 22px;
}